@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


:root {
    --color-btn: #24AA4A;
    --border-radius-btn: 0.5rem;
    --branco: #fff;
}

.quebra-mobile{
    display: block;
}



.container {
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;
}



/* Start of Mobile */

/*Start of header */
.main-header {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 0.7rem;
}

.main-header-elements {
    display: flex;
    align-items: center;
    gap: 11.938rem;
}

/*End of Header*/


/*Start of hero */

#hero {
    margin-top: 3.375rem;
}

.hero-subtitle {
    font-size: 1.125rem;
    font-weight: 700;
}

.hero-title {
    margin-top: 1rem;
    font-size: 3.75rem;
    font-weight: 800;
    letter-spacing: -0.063rem;

}

.hero-description {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 160%;
    color: #757B8A
}

.hero-btn-box {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2.5rem;
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--color-btn);
    border-radius: var(--border-radius-btn);
    font-size: 1rem;
    color: var(--branco)
}

.hero-box img{
    margin-top: 2.875rem;
}

/* End of hero */

/*Start of coworking-spaces-startup */

#coworking-spaces-startup{
    margin-top: 5.563rem;
    background-color: #EBFAEF;
    padding-top: 5.563rem;
}

.coworking-space-startup-box-title{
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: 700;

}

.coworking-space-startup-box-description{
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 160%;
    color: #757BBA;
}

.coworking-space-startup-box-box-btn{
    display: inline-flex;
    margin-top: 2.5rem;
    margin-bottom: 5.25rem;
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--color-btn);
    color: var(--branco);
    border-radius: var(--border-radius-btn);
}


/* End of coworking-spaces-startup */

/* Start of guide-to-coworking-space */

#guide-to-coworking-spaces{
    padding-top: 4.313rem;
    padding-bottom: 4.625rem;
    background-color: #094319;
    color: var(--branco);
}

#guide-to-coworking-spaces-box-numbers{
    display: flex;
    gap: 1.813rem;
    margin-left: 2.125rem;
}

.guide-to-coworking-spaces-box-title{
    font-size: 3rem;
    font-weight: 700;
    line-height: 120%;

}

.guide-to-coworking-spaces-box-description{
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 160%;
}

#guide-to-coworking-spaces-box-numbers{
    margin-top: 2.5rem;
}

.guide-to-coworking-spaces-box-numbers-number-title{
    font-size: 2.5rem;
    font-weight: bold;
}

.guide-to-coworking-spaces-box-numbers-number-description{
    margin-top: 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
}

#guide-to-coworking-spaces img{
    margin-top: 3.563rem;
}

/* End of guide-to-coworking-space*/


/*Start of inspiring-place */

#inspiring-place{
    margin-bottom: 3.625rem;
}

.inspiring-place-title{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 120%;
    margin-top: 7.063rem;
}

.inspiring-place-description{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
} 

#inspiriting-place-box img{
    margin-top: 2.75rem;
}


#guide-to-coworking-spaces-icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.icon-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

/* End of inspiring-place */



/* End of mobile */