@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


:root {

    /*Cores */
    --color-btn: #24AA4A;
    --verde-claro: #EBFAEF;
    --verde-escuro: #094319;
    --branco: #fff;
    --cinza: #757B8A;


    /*Botoes*/
    --border-radius-btn: 0.5rem;
    --padding-botao: 1rem 2rem;


    /*Tamanho de Fonte*/
    --font-size-1rem: 1rem;


    /*Peso de Fonte*/
    --weight-700: 700;
}

/*Responsividade */
img {
    max-width: 100%;
    height: auto;
}


.quebra-mobile {
    display: block;
}

.quebra-desktop{
    display: block;
}

.container {
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;
}



/* Start of Mobile */

/*Start of header */
.main-header {
    display: flex;
    align-items: center;
    margin-top: 0.75rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    margin-left: 0.7rem;
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


/*Start of hero */

#hero {
    margin-top: 3.375rem;
}

.hero-subtitle {
    font-size: 1.125rem;
    font-weight: var(--weight-700);
}

.hero-title {
    margin-top: 1rem;
    font-size: 3.75rem;
    font-weight: 800;
    letter-spacing: -0.063rem;
    word-wrap: break-word;
}

.hero-description {
    margin-top: 2rem;
    font-size: var(--font-size-1rem);
    font-weight: 500;
    line-height: 160%;
    color: var(--cinza);
}

.hero-btn-box {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2.5rem;
    flex-wrap: wrap;
    padding: var(--padding-botao);
    background-color: var(--color-btn);
    border-radius: var(--border-radius-btn);
    font-size: var(--font-size-1rem);
    color: var(--branco)
}

.hero-box img {
    margin-top: 2.875rem;
}

/* End of hero */

/*Start of coworking-spaces-startup */

#coworking-spaces-startup {
    margin-top: 5.563rem;
    background-color: var(--verde-claro);
    padding-top: 5.563rem;
}

.coworking-space-startup-box-title {
    margin-top: 3rem;
    font-size: 3rem;
    word-wrap: break-word;
    font-weight: var(--weight-700);

}

.coworking-space-startup-box-description {
    margin-top: 2rem;
    font-size: var(--font-size-1rem);
    font-weight: 500;
    line-height: 160%;
    color: var(--cinza);
}

.coworking-space-startup-box-box-btn {
    display: inline-flex;
    margin-top: 2.5rem;
    margin-bottom: 5.25rem;
    flex-wrap: wrap;
    padding: var(--padding-botao);
    background-color: var(--color-btn);
    color: var(--branco);
    border-radius: var(--border-radius-btn);
}


/* End of coworking-spaces-startup */

/* Start of guide-to-coworking-space */

#guide-to-coworking-spaces {
    padding-top: 4.313rem;
    padding-bottom: 4.625rem;
    background-color: var(--verde-escuro);
    color: var(--branco);
}

#guide-to-coworking-spaces-box-numbers {
    display: flex;
    gap: 1.813rem;
    margin-left: 2.125rem;
    flex-wrap: wrap;
}

.guide-to-coworking-spaces-box-title {
    font-size: 3rem;
    font-weight: var(--weight-700);
    word-wrap: break-word;
    line-height: 120%;

}

.guide-to-coworking-spaces-box-description {
    margin-top: 2rem;
    font-size: var(--font-size-1rem);
    font-weight: 500;
    line-height: 160%;
}

#guide-to-coworking-spaces-box-numbers {
    margin-top: 2.5rem;
}

.guide-to-coworking-spaces-box-numbers-number-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.guide-to-coworking-spaces-box-numbers-number-description {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
}

#guide-to-coworking-spaces img {
    margin-top: 3.563rem;
}

/* End of guide-to-coworking-space*/


/*Start of inspiring-place */

#inspiring-place {
    margin-bottom: 3.625rem;
}

.inspiring-place-title {
    font-size: 2.5rem;
    font-weight: var(--weight-700);
    line-height: 120%;
    word-wrap: break-word;
    margin-top: 7.063rem;
}

.inspiring-place-description {
    margin-top: 1rem;
    font-size: var(--font-size-1rem);
    font-weight: 500;
}

#inspiriting-place-box img {
    margin-top: 2.75rem;
}


#guide-to-coworking-spaces-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

/* End of inspiring-place */

/*Start of testimonials */

.woman-notebook {
    margin-left: -2rem;
}

#testimonials-box-title {
    margin-top: 2.875rem;
    font-size: 2.25rem;
    font-weight: var(--weight-700);
    word-wrap: break-word;
    line-height: 120%;
}

.testimonials-box-description {
    margin-top: 2rem;
    font-size: var(--font-size-1rem);
    font-weight: 500;
    line-height: 160%;
    color: var(--cinza);
}

.testimonials-person {
    margin-top: 2.5rem;
}

.testimonials-person-title {
    font-size: var(--font-size-1rem);
    font-weight: var(--weight-700);
    word-wrap: break-word;
}

.testimonials-person-description {
    margin-top: 0.5rem;
    margin-bottom: 6rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--cinza);
}


/*End of testimonials*/

/* Start of newsletter */

#newsletter {
    display: flex;
    background-color: var(--verde-claro);
}

#newsletter-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newsletter-box img {
    margin-top: 3.438rem;
    max-width: 100%;
    height: 3.75rem;
}

.newsletter-box-header-title {
    margin-top: 1.5rem;
    text-align: center;
    font-size: var(--font-size-1rem);
    font-weight: 500;
    word-wrap: break-word;
    line-height: 160%;
}

.newsletter-box-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#newsletter-box-header-btn {
    display: inline-flex;
    padding: var(--padding-botao);
    background-color: var(--color-btn);
    border-radius: 0.5rem;
    color: var(--branco);
    font-size: var(--font-size-1rem);
    font-weight: var(--weight-700);
    margin-top: 0.75rem;
}

.newsletter-box-forms {
    margin-top: 5.188rem;
    font-size: 1.25rem;
    font-weight: var(--weight-700);
    color: var(--color-btn);
    margin-top: 1.875rem;
    margin-left: 1.5rem;
}


#email {
    flex: 1;
    background-color: var(--verde-claro);
    border: none;
    outline: none;
    margin-top: 1.875rem;
    padding: 0.75rem 0;
}

#form-newsletter {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 21rem;
    border-bottom: #E2E4EB solid 2px;
}



#btn-arrow {
    width: 3.125rem;
    height: 3.125rem;
    margin-top: 1.87rem;
    background-color: var(--color-btn);
    color: var(--branco);
    font-size: 1rem;
    border: none;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#btn-arrow:hover {
    background-color: var(--branco);
    color: var(--color-btn);
    border: #000 solid 0.5px;
}

/* End of newsletter */

/*Start of footer */

#footer {
    padding-top: 4.063rem;
    background-color: var(--verde-claro);
}

.footer-box-links nav {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-link a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
}

.footer-box-icons {
    display: flex;
    margin-top: 2.563rem;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2.70rem;
    flex-wrap: wrap;
}


/* End of footer */

/* End of mobile */

/* Start of Desktop */




/*Start of Display none header - desktop (for mobile)*/
@media screen and (max-width: 1024px) {
    #header-list-options {
        display: none;
    }

    .sign-in-btn {
        display: none;
    }

    #hero-desktop {
        display: none;
    }

    .hero-btn-box-desktop{
        display: none;
    }

    #room-avaiable-desktop{
        display: none;
    }
}

@media screen and (min-width: 1024px) {

    /*Start of header */

    .main-header nav div:not(.sign-in-btn) {
        display: flex;
        align-items: center;
    }

    #header-list-options {
        display: flex;
        gap: 2rem;
        list-style: none;
    }

    #barras-mobile {
        display: none;
    }

    .header-option-green {
        text-decoration: none;
    }

    .header-option-green a {
        text-decoration: none;
        color: var(--color-btn)
    }

    .header-option a {
        text-decoration: none;
        color: #000
    }



    .sign-in-btn {
        display: flex;
    }



    .header-option a {
        text-decoration: none;
    }

    .sign-in-btn {
        padding: var(--padding-botao);
        background-color: var(--color-btn);
        border-radius: var(--border-radius-btn);
        color: var(--branco);
    }

    .sign-in-btn a {
        text-decoration: none;
        color: var(--branco);
    }

    /* End of header */

    /*Start of hero */

    #hero-mobile {
        display: none;
    }

    #hero-desktop {
        display: flex;
        margin-top: -2rem;
    }

    .hero-subtitle{
        margin-top: 7.563rem;
    }

    .hero-title {
        margin-top: 1rem;
        font-size: 6.25rem;
        font-weight: 800;
        letter-spacing: -0.063rem;
        margin-top: 1rem;
    }

    .hero-box{
        display: inline-flex;
        gap: 7rem;
    }

    .hero-btn-box{
        display: none;
    }

    .hero-btn-box-desktop {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2.5rem;
    flex-wrap: wrap;
    padding: var(--padding-botao);
    background-color: var(--color-btn);
    border-radius: var(--border-radius-btn);
    font-size: var(--font-size-1rem);
    color: var(--branco)
}
    /*End of hero */

    /* Start of guide-to-coworking-space*/

    #room-avaiable-desktop{
        display: flex;
    }

    #room-avaiable-mobile{
        display: none;
    }

    #coworking-space-box-desktop{
        display: flex;
    }

    /* End of guide-to-coworking-space*/


    /* End of Desktop */
}